:root {
  --dark-blue: #004277
}

html {
  height: 100%;
  overflow-y: auto;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.ol-control {
  position: absolute;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
}

.ol-zoom {
  padding: 0 !important;
  box-shadow: 0 0 10px #00000029;
  top: 132px !important;
  left: unset !important;
  right: 8px !important;
}

.ol-zoom-in,
.ol-zoom-out {
  height: 33px !important;
  width: 33px !important;
  background-color: #fff !important;
  color: #000 !important;
  margin: 1px 0 !important;
  cursor: pointer !important;
  font-weight: bold;
  font-size: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.ol-zoom-in:hover,
.ol-zoom-out:hover {
  background-color: var(--dark-blue) !important;
  color: #fff !important;
}

@media (max-width: 599.5px) {
  .ol-zoom-in, .ol-zoom-out {
    font-size: 1em !important;
  }
  .ol-zoom {
    top: 11.5em !important;
  }
}

.ol-zoom-in {
  border-radius: 2px 2px 0 0;
}

.ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

.ol-scale-bar {
  pointer-events: none;
  z-index: 0 !important;
  left: 7.5em !important;
  bottom: 2.5em !important;
}

.ol-scale-bar-inner {
  width: 200px !important;
}

.ol-attribution.ol-collapsed {
  display: none;
}
